.tetris {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

.tetrisfield_wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.additional_fields_wrapper {
    position: absolute;
    flex-direction: column;
    right: -220px;
    top: -33px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.window_next_shape {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.pocket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px
}

.windowNextShape_title {
    font-size: 18px;
    font-weight: 600;
}


.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.score {
    font-size: 25px;
    font-weight: 600;
}

.tetrisfield {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 3px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
}

.row {
    display: flex;
    gap: 3px;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    background-color: rgb(36, 37, 37);
    border-radius: 5px;
}

.full_cell {
    background-color: rgb(80, 80, 187);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 10px;
    background-color: rgb(70, 70, 70);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.button {
    width: 300px;
    background-color: rgb(36, 37, 37);
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer; 
}

.menu_label {
    display: none;
    gap: 10px;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}

 .open {
    display: flex;
}

.menu_input {
    width: 150px;
    height: 30px;
}

.game_over {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    color: rgb(148, 148, 148);
}

.game_over_active {
    color: red;
}