.tetris {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}


.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.score {
    font-size: 25px;
    font-weight: 600;
}

.tetrisfield {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.row {
    display: flex;
    gap: 3px;
}

.cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    background-color: rgb(36, 37, 37);
    border-radius: 5px;
}

.full_cell {
    background-color: rgb(80, 80, 187);
}
